@import "./variables";
@import "./mixins";

.about {
  // @include flexCenter(column);
  background-color: $yellow;
  padding: 20px;
  // height: 100vh;
  display: flex;
  @include flexCenter(row);
  img {
    width: 50%;
  }
  .content {
    width: 50%;
    padding: 30px;
    padding-top: 4rem;
    font-size: 1.5rem;
    h1 {
      @include flexCenter(row);
    }

    p {
      line-height: 2.5rem;
    }
  }

  @media (max-width: 600px) {
    @include flexCenter(column);
    img {
      width: 100%;
    }
    .content {
      width: 100%;
      padding: 20px;
      font-size: 1rem;
    }
  }
}
