@import "./variables";
@import "./mixins.scss";

.main-page {
  @include flexCenter(column);
  padding: 2rem;
  font-family: "Arial", sans-serif;
  background-image: url(../assets/img/background.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.9;

  p {
    font-size: 1.2rem;
    color: $very-dark-blue;
    margin-bottom: 2rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile {
    border-radius: 50%;
    width: 15%;
    border: 2px solid $white;
  }

  .name {
    color: $cream;
    margin: 0px;
    font-weight: 700;
    font-size: 4rem;
    padding-top: 20px;
  }

  .location {
    color: var(--green);
    margin: 0px;
    font-weight: 600;
    padding-top: 10px;
  }

  .object {
    color: $very-dark-blue;
    margin: 0px;
    padding-top: 20px;
  }

  .navigation {
    margin-bottom: 2rem;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 1.5rem;

      li {
        a {
          text-decoration: none;
          color: var(--gray-950);
          font-size: 1.2rem;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover {
            color: $cream;
            font-size: 1.22rem;
          }
        }
      }
    }
  }

  @media (max-width: 700px) {
    // height: 100vh;
    // change project video to vertical
    // change profile and navigation
  }
}
