@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin fontMontserrat($weight) {
  font-family: "Montserrat", sans-serif;
  font-weight: $weight;
}

@mixin responsive-text($min-size, $max-size) {
  font-size: $min-size;

  @media (min-width: 768px) {
    font-size: $max-size;
  }
}
